/* Tab de regiões */
.nav {
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.nav > li {
    position:relative;
    display:block
}
.nav > li > a {
    position:relative;
    display:block;
    padding:10px 14px;
    font-size: 12px;
    color:#989898
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration:none;
    background-color:#eee
}
.nav > li > a:hover {
    border-color:#eee #eee #ddd
}
.nav > li.disabled > a {
    color:#777
}
.nav > li.disabled > a:focus,.nav > li.disabled > a:hover {
    color:#777;
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent
}
.nav .open > a,.nav .open > a:focus,.nav .open > a:hover {
    background-color:#eee;
    border-color:#337ab7
}
.nav-tabs > li {
    float:left;
    margin-bottom:-1px
}
.nav-tabs > li > a {
    margin-right:2px;
    line-height:1.42857143;
    
    border-radius:4px 4px 0 0
}
.nav-tabs > li > a:hover {
    border-color:#eee #eee #ddd
}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 5px -3px 5px -3px #ddddddb3;
}
.tab-content > .tab-pane {
    display:none
}
.tab-content > .active {
    display:block
}
.tabs-regioes {
    margin-top:15px;
    display:block;
    border-bottom:1px solid #eee
}
.tabs-regioes h3 {
    margin-top:25px;
    font-size:18px;
    color:#5a5a5a;
}
.tabs-regioes > .tab-content > .tab-pane > ul {
list-style-type: none;
    padding: 20px;
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0;
    border-radius: 5px;
}
.tabs-regioes > .tab-content > .tab-pane > ul > li {
    width: 33%;
    float: left;
    font-size: 11.3px;
    color: #5d5d5d;
    padding: 4px;
    letter-spacing: 0.3px;
}
@media screen and (max-width: 40em) {
    .tabs-regioes > .tab-content > .tab-pane > ul > li {
        width:50%
    }
}